<header>
    <div class="headerName col-sm-12 col-md-3">
      <h1>Marvel</h1>
    </div>
    <h4 class="col-sm-12 col-md-6">descubra o <span id="poder">PODER</span> desse universo.</h4>
    <div class="col-sm-12 col-md-3 " id="logout">
        <a ng-click="$ctrl.logout()" ng-if="$ctrl.userLogged" class="buttonStyle btn btn-dark"> fazer logout <i
            class="fas fa-sign-out-alt"></i></a>
    </div>  
</header>
<nav>
  <a href="/#!/welcome"><button class="buttonStyle btn btn-dark">Home</button></a>
</nav>

<div class="content" ng-view></div>

<footer>

    <ul class="txtRodape">
      <li><a href="">Fale conosco</a></li>
      <li><a href="">Nosso e-mail</a></li>
      <li><a href="">Desenvolvedores</a></li>
      <li><a href="">&copy; Copyright 2022</a></li>
    </ul>

</footer>