

@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Orbitron');	
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    padding: 0;
    margin: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #080808;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #b10303;
 
}

.headerTitulo{
  font-size: 18pt;
  text-align: center;
}
.headerName{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: snow;
  font-size: 20pt;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  font-weight: bold;
}
header h4{
  font-size: 15pt;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-style:normal;
  letter-spacing: 2px;
  color: snow;
  
}
header #logout{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-style:normal;
  font-size: 12pt;
  letter-spacing: 2px;
  color: snow;
}

nav {
  background: #111111;
}

nav a{
  margin-left: .3rem;
}

.lista button{
  float: initial ;
}   

button{
  color: white;
  background-color: #292929;
}

button:hover{
  color:black;
}
.card .card-footer a{
  color: red !important;
}

#poder{
      color: red;
      text-shadow: 0.0em 0.0em 0.4em red;
      letter-spacing: 5px;
}

.content {
  background-image: linear-gradient(#000000, #000000fa);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.welcome { 
  background-image: url('../img/fundo.png');
  background-repeat: no-repeat;
  font-size: 16pt;
  color: #e7e6e6;
  font-family: 'Ubuntu',sans-serif;
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}
.welcome button{
  padding: 0;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  margin-top: 15%;
}
.welcome p{
  margin-top: 10px;
}

.welcome h1{
  font-size: 20pt;
}

.buttonStyle {
  background-color:  rgba(7, 7, 7, 0.692);
  color: rgb(255, 251, 251);
  border: 1px solid rgba(119, 119, 119, 0.534);
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: none;
}
.buttonStyle:hover {
  transition: 0.2s;
  background-color: #000000bb;
  border: 1px solid rgba(0, 0, 0, 0.452);
      color: rgb(95, 95, 95);
}

#fire{
      float: right;
      padding: 2px 0px 0px 10px ;
      text-shadow: 0.0em 0.0em 0.4em red;
}

ul, li{
      display: inline;
      margin: 5%;
      text-decoration: none;
}

  a,
  a:visited,
  a:hover {
    color: #ffffff;
    text-decoration: none !important;
  }

  a:hover {
    color: #000000 !important
  }

  footer {
    min-height: 15vh;
    background: #111111;
    text-align: center;
    padding: 3%;
    position: relative;    
  }

  .txtRodape, a:hover{
        color: #000000;
  }

  .txtRodape, a{
        color: snow;
        margin: 0%;
        padding: 0%;
        display: inline;
        font-family: 'Ubuntu', sans-serif; 
        font-size: 12pt;
  }

/*lista personagens css*/
#search{
  margin : 5%;
}

#search button{
  padding: 6px;
  margin-top: 5px;
}

.card {
  margin: 5% auto 5% auto !important;
}
#charact-list-card {
  width: 100% !important;
}


/*detalhes personagem css*/
#person-details-card {
  width: 80% !important;
}


#login-form{
  margin: 5% auto 5% auto;
  width: 70%; 
}

  /* Responsive */

  @media screen and (min-width: 575px) {

    header h4{
      font-size: 17pt;
    }

    .welcome button{
      width: 200px;
      height: 60px;
      
    }
    #login-form{
      width: 50%; 
    }

    #charact-list-card {
      width: 35rem !important;
    }
    
    #charact-list-card li {
      display: block !important;
    }
    #charact-list-card a {
       float: right !important;
    }
    
   #charact-list-card h6 {
      float: left !important;
   }
   
    #person-details-card {
      width: 25rem !important;
    }
  
  }
  @media screen and (min-width: 768px) {
    header {
      flex-direction: row;
    }
    

    #login-form{
      width: 25rem;
    }
   
  }

  @media screen and (min-width: 920px) {
    header #logout{
      flex-direction: row;
      
    }
    #login-form{
      width: 20rem;
    }
  }


