

<div id="login-form">
    <div ng-show="$ctrl.alertVisible" uib-alert ng-class="$ctrl.alertType">{{$ctrl.msgSucessError}}</div>
    <div class="form-floating ms-12">
      <div class="float-left">
        <h3 ng-style="{'color': '#fff'}" class="float-left">Login <i ng-style="{'color': '#fff'}" class="fas fa-lock fa-sm"></i></h3>
      </div>
        
    </div>
    <div class="form-floating mb-3">
      <input ng-model="$ctrl.user.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating mb-3">
      <input ng-model="$ctrl.user.pass" type="password" class="form-control" id="floatingPassword" placeholder="Password">
    </div>

    <div class="d-grid">
      <button class="btn btn-dark btn-login text-uppercase fw-bold" ng-click="$ctrl.signIn()">Entrar</button>
    </div>
   
  </div>