<div class="card" id="charactListCard" ng-style="{'width': '20rem', 'min-width': '20rem', 'margin-top': '5%', 'margin-bottom': '5%'}">
    <div id="search">
        <input ng-model="$ctrl.searchName" class="form-control mr-sm-2" type="text" placeholder=" Search"
            aria-label="Search">
        <button class="btn btn-dark" ng-click="$ctrl.search()"><i class="fas fa-search fa-xs"></i>
            Buscar</button>
    </div>
    <div class="card-header">
        Lista de Personagem
    </div>
    <div class="card-body">
        <h5 class="card-title">Marvel World</h5>
        <ul class="list-group" ng-repeat="person in $ctrl.personagens">
            <li class="list-group-item d-flex flex-column">
                <span class="">{{person.name}}</span>
                <a class="btn btn-dark" href="#!/personagem/detalhes/{{person.id}}"> Abrir detalhes <i
                        class="fas fa-plus"></i></a>
            </li>
        </ul>
        <span ng-if="$ctrl.results==0">Sem resultados</span>
    </div>
    <div class="card-footer">

        <preng ng-if="$ctrl.results">Página {{$ctrl.currentPage+1}} de {{$ctrl.totalPages}}</pre> 

        <button ng-if="$ctrl.results" class="btn btn-dark" ng-click="$ctrl.previousPage()">anterior</button>
        <button ng-if="$ctrl.results" ng-style="{'float': 'right'}" class="btn btn-dark" ng-click="$ctrl.nextPage()">próxima</button>
        
    </div>
</div>